html{
  height: auto;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.meddetails{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  
}
.medications-list{
  margin-left: auto;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 30px;
  
}
.meditem{
  margin: 0;
}
.medication-item{
  margin: 20px;
}
.placeholder{
  border-radius: 5px;
  margin: 5px;
  background-color: antiquewhite;
}
.btn{
  border-radius: 5px;
  padding: 5px;
  background-color: antiquewhite;
  
}
.btn:hover{
  color: #fafcff;
  background-color: rgb(25, 57, 154);
}